:root {
  --branding-color: #927fbf;
  --navbar-color: #927fbf;
  --heading-font-family: "Playfair", sans-serif;
}

body {
  font-family: "Playfair", sans-serif;
}

h1,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 64px;
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 30px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.intro {
  font-size: 40px;
}

.hero {
  background-color: #c4bbf0;
  text-align: center;
  padding: 160px 20px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-branding {
  background-color: var(--branding-color);
}

.navbar-brand {
  color: black;
  font-style: bold;
}

.navbar-nav .nav-link {
  color: black;
  font-style: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container {
  padding: 80px 20px;
}

.content h2 {
  font-size: 40px;
  font-family: var(--heading-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  text-align: center;
}

.content p {
  font-size: 18px;
  text-align: center;
}

.content {
  margin: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.size {
  width: 450px;
  height: 400px;
}

.challenge {
  width: 450px;
  height: 400px;
}

.row {
  justify-content: center;
  padding-bottom: 30px;
}

.col-6 {
  padding: 5px;
}

.hero {
  background: #e4e0f6;
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-family: "Playfair", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: black;
  background: #e4e0f6;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-description {
  padding: 120px 60px;
  margin-bottom: 15px;
}

.row.align-items-center {
  margin-bottom: 10px;
}

.link,
.contact {
  color: black;
  text-decoration: none;
}

.fähigkeiten,
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-size: 18px;
}

.mitte {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--branding-color);
  padding: 30px 60px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

.contact-box-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}

.contact-box p {
  line-height: 1.2;
}

.contact-box {
  width: 80%;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  background: #e4e0f6;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

contact .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 150ms ease-in-out;
}

/* Neue Grid-Layout-Styles für Projekte */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 2rem 0;
}

.project-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.project-item:hover {
  transform: translateY(-5px);
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-item h2 {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
}

.project-item p {
  font-size: 0.9rem;
  color: #666;
  margin: 0 1rem 1rem;
  text-align: center;
}
.project-item {
  display: inline-block;
  font-size: 0.7rem; /* Reduziert die Schriftgröße */
  padding: 0.3rem 0.6rem; /* Reduziertes Padding */
  margin: 0.5rem auto; /* Zentriert den Button und reduziert den vertikalen Abstand */
  background-color: var(--branding-color);
  color: black;
  text-decoration: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  width: fit-content; /* Lässt den Button sich an den Inhalt anpassen */
  max-width: 50%; /* Begrenzt die maximale Breite */
}

.project-item a:hover {
  background-color: #7b68a3;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 26px;
  }

  .btn {
    font-size: 16px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content-container {
    padding: 40px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .contact-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-box div:last-child {
    align-self: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .project-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
}
